<template>
  <dv-with-toggle
    class="dv-switch"
    :value="value"
    :option="option"
    :disabled="disabled"
    v-on="inputHandlers">
    <template v-slot="{ checked, onChange }">
      <dv-button
        ref="button"
        :iconic="iconic"
        :disabled="disabled"
        aria-hidden="true"
        v-on="{ ...buttonHandlers, click: onChange }">
        <slot slot="icon"
              name="icon">
          <dv-icon v-if="icons"
                   :name="checked ? icons.on : icons.off" />
        </slot>
        <slot>
          <template v-if="!iconic">
            {{ checked ? text.on : text.off }}
          </template>
        </slot>
      </dv-button>
    </template>
  </dv-with-toggle>
</template>

<script>
import WithToggle from "../Shared/WithToggle.vue";

/**
 * @displayName Toggle Button
 */
export default {
  name: "dv-toggle-button",

  components: {
    "dv-with-toggle": WithToggle,
  },

  props: {
    /**
     * @model
     * Stores toggle-button/toggle-button group state.
     */
    value: {
      type: [Array, Boolean, String],
      required: true,
    },

    /**
     * Specify toggle-button value. Use it when toggle-button group is presented.
     */
    option: {
      type: [String, Boolean],
      default: null,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    text: {
      type: Object,
      default: () => ({ on: "I accept", off: "I decline" }),
    },

    icons: {
      type: Object,
      default: null,
    },

    iconic: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    inputHandlers() {
      return {
        input: (val) => this.$emit("input", val),
        focus: () => this.$refs.button.$el.focus(),
      };
    },

    buttonHandlers() {
      const { input, ...rest } = this.$listeners;
      return rest;
    },
  },
};
</script>
