<template>
  <component
    :is="tag"
    v-ripple
    v-bind="restAttrs"
    :class="cssClass"
    :disabled="pending"
    v-on="$listeners">
    <span v-if="pending"
          class="dv-button__overlay">
      <dv-spin />
    </span>
    <span v-if="$slots.icon"
          class="dv-button__icon">
      <!-- @slot Use DVIcon componenet here -->
      <slot name="icon" />
    </span>
    <span v-if="$slots.default"
          class="dv-button__content">
      <!-- @slot Content slot
              @demoContent Click me!
      -->
      <slot />
    </span>
  </component>
</template>

<script>
import ripple from "../../directives/ripple";
import DVSpin from "../Spin/Spin.vue";

/**
 * Button component. Allows several customization options;
 * @displayName Button
 */

export default {
  name: "dv-button",

  components: {
    "dv-spin": DVSpin,
  },

  directives: {
    ripple,
  },

  props: {
    /**
     * Makes button disabled, shows DVSpin
     */
    pending: {
      type: Boolean,
      default: false,
    },

    /**
     * Creates link tag with this href
     */
    href: {
      type: String,
      default: null,
    },

    size: {
      type: String,
      default: "normal",
      validator: (size) => ["small", "normal", "large"].includes(size),
    },

    /**
     * Sets background color for button according to theme
     */
    color: {
      type: String,
      default: "basic",
      validator: (color) =>
        ["basic", "secondary", "success", "info", "warning", "danger"].includes(
          color
        ),
    },

    /**
     * Reduces vertical paddings
     */
    dense: {
      type: Boolean,
      default: false,
    },

    /**
     * Adds border radius
     */
    rounded: {
      type: Boolean,
      default: false,
    },

    /**
     * Draw button with transparent background/border
     */
    text: {
      type: Boolean,
      default: false,
    },

    /**
     * Draw button with transparent background
     */
    outlined: {
      type: Boolean,
      default: false,
    },

    /**
     * Draw icon style button
     */
    iconic: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    tag() {
      return this.href ? "a" : "button";
    },

    restAttrs() {
      return this.tag === "button" ? { type: "button" } : { href: this.href };
    },

    cssClass() {
      return [
        "dv-button",
        `dv-button--${this.size}`,
        `dv-button--${this.color}`,
        {
          "dv-button--link": this.href,
          "dv-button--rounded": this.rounded,
          "dv-button--outlined": this.outlined,
          "dv-button--text": this.text,
          "dv-button--dense": this.dense,
          "dv-button--iconic": this.iconic,
        },
      ];
    },
  },
};
</script>

<style lang="scss">
@import "./Button.scss";
</style>
