@use "sass:color";
@import '../../assets/styles/__theme.scss';

@mixin button-visual($color-background, $color-contrast: #fff) {
  background-color: $color-background;
  color: $color-contrast;

  .dv-spin .dv-spin__svg .dv-spin__stroke {
    stroke: $color-contrast;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px lighten($color-background, 20%);
  }

  &:active:enabled {
    background-color: darken($color-background, 10%);
  }

  &:disabled {
    background-color: transparentize($color-background, 0.5);
    color: transparentize($color-contrast, 0.5);
  }

  &.dv-button--outlined {
    color: $color-background;
    background-color: transparent;
    border: 1px solid $color-background;

    &:disabled {
      color: transparentize($color-background, 0.5);
      border: 1px solid transparentize($color-background, 0.5);
    }

    &:active:enabled {
      background-color: lighten($color-background, 30%);
    }

    .dv-spin .dv-spin__svg .dv-spin__stroke {
      stroke: $color-background;
    }
  }

  &.dv-button--text {
    color: $color-background;
    background-color: transparent;

    &:disabled {
      color: transparentize($color-background, 0.5);
    }

    .dv-spin .dv-spin__svg .dv-spin__stroke {
      stroke: $color-background;
    }
  }
}

.dv-button {
  @include button-visual($color-primary);
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  outline: none;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.dv-button--link {
    text-decoration: none;
  }

  &__icon {
    flex: 1 1 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__icon + &__content {
    margin-left: 0.5rem;
  }

  &__content {
    flex: 1 1 auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--rounded {
    border-radius: 2rem;
  }

  &--iconic {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  &--small {
    font-size: 0.8rem;
    padding: 0.4rem 0.87rem;

    &.dv-button--rounded {
      border-radius: 1.4rem;
    }

    &.dv-button--iconic {
      padding: 0.4rem;
    }
  }

  &--large {
    font-size: 1.25rem;
    padding: 0.8rem 1.25rem;

    &.dv-button--rounded {
      border-radius: 2.5rem;
    }

    &.dv-button--iconic {
      padding: 0.8rem;
    }
  }

  &--dense {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--secondary {
    @include button-visual($color-secondary);
  }

  &--success {
    @include button-visual($color-success);
  }

  &--info {
    @include button-visual($color-info);
  }

  &--warning {
    @include button-visual($color-warning, #333);
  }

  &--danger {
    @include button-visual($color-danger);
  }
}
