<template>
  <label>
    <input
      type="checkbox"
      class="dv-hidden-accessible"
      v-bind="$attrs"
      :checked="shouldBeChecked"
      :disabled="disabled"
      v-on="handlers">
    <slot v-bind="{ checked: shouldBeChecked, onChange }" />
  </label>
</template>

<script>
/**
 * @displayName withToggle
 */
export default {
  name: "dv-with-toogle",

  inheritAttrs: false,

  props: {
    /**
     * @model
     * Stores entity/entity-group state.
     */
    value: {
      type: [Array, Boolean, String],
      required: true,
    },

    /**
     * Specify entity value. Use it when entity group is presented.
     */
    option: {
      type: [String, Boolean, Object],
      default: null,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    shouldBeChecked() {
      if (Array.isArray(this.value)) {
        return this.value.includes(this.option);
      }
      if (typeof this.option !== "undefined") {
        return this.option === this.value;
      }
      return this.value;
    },

    handlers() {
      return {
        ...this.$listeners,
        input: this.onChange,
      };
    },
  },

  methods: {
    onChange() {
      if (Array.isArray(this.value)) {
        if (this.shouldBeChecked) {
          this.$emit(
            "input",
            this.value.filter((option) => option !== this.option)
          );
        } else {
          this.$emit("input", [...this.value, this.option]);
        }
      } else {
        this.$emit("input", !this.shouldBeChecked);
      }
    },
  },
};
</script>
