<template>
  <dv-with-toggle
    class="dv-list-item"
    :value="value"
    :option="option.value"
    :disabled="disabled"
    v-on="inputHandlers">
    <template v-slot="{ onChange }">
      <slot name="option">
        <dv-button
          ref="button"
          :disabled="disabled"
          aria-hidden="true"
          v-on="{ ...buttonHandlers, click: () => onChange(option.value) }">
          {{ option.text }}
        </dv-button>
      </slot>
    </template>
  </dv-with-toggle>
</template>

<script>
import WithToggle from "../Shared/WithToggle.vue";

/**
 * @displayName List item
 */
export default {
  name: "dv-list-item",

  components: {
    "dv-with-toggle": WithToggle,
  },

  props: {
    /**
     * @model
     * Stores toggle-button/toggle-button group state.
     */
    value: {
      type: [Array, Boolean, String],
      required: true,
    },

    /**
     * Specify toggle-button value. Use it when toggle-button group is presented.
     */
    option: {
      type: [Object, String, Boolean],
      default: null,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    inputHandlers() {
      return {
        input: (val) => this.$emit("input", val),
        focus: () => this.$refs.button.$el.focus(),
      };
    },

    buttonHandlers() {
      const { input, ...rest } = this.$listeners;
      return rest;
    },
  },
};
</script>
