@use'sass:color';
@import '@/assets/styles/__theme.scss';

.dv-list {
  display: flex;
  max-width: 100%;
  flex-direction: column;

  .dv-list-item {
    flex: 1 0 100%;

    .dv-button {
      width: 100%;
    }
    
    input:not(:checked) + .dv-button {
      background-color: transparent;
      color: #000;

      &:hover {
        background-color: lighten($color-disabled, $amount: 25);
      }
    }

    &:not(:first-of-type):not(:last-of-type) .dv-button {
      border-radius: 0;
    }

    &:first-of-type .dv-button {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-of-type .dv-button {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
