<template>
  <dv-toggle-group
    class="dv-list"
    :value="value"
    :disabled="disabled"
    :mandatory="mandatory"
    @input="$emit('input', $event)">
    <template v-slot="{ value: groupValue, onInput }">
      <dv-list-item v-for="item in config"
                    :key="item.value"
                    :option="item"
                    :value="groupValue"
                    :disabled="disabled"
                    @input="onInput(item.value)" />
    </template>
  </dv-toggle-group>
</template>

<script>
import ToggleGroup from "../Shared/ToggleGroup";
import ListItem from "./ListItem.vue";

/**
 * @displayName List
 */
export default {
  name: "dv-list",

  components: {
    "dv-toggle-group": ToggleGroup,
    "dv-list-item": ListItem,
  },

  props: {
    /**
     * @model
     * Stores entity/entity-group state.
     */
    value: {
      type: [Array, Boolean, String],
      required: true,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    mandatory: {
      type: Boolean,
      default: false,
    },

    config: {
      type: Array,
      required: true
    },
  },
};
</script>

<style lang="scss">
@import "./List.scss";
</style>
