<template>
  <dv-with-toggle
    class="dv-switch"
    :value="value"
    :option="option"
    :disabled="disabled"
    v-on="$listeners">
    <span class="dv-switch__toggle">
      <span class="dv-switch__toggle__dot" />
    </span>
    <span class="dv-switch__label">
      <!-- @slot Switch label
              @demoContent Option
      -->
      <slot />
    </span>
  </dv-with-toggle>
</template>

<script>
import WithToggle from "../Shared/WithToggle.vue";

/**
 * @displayName Switch
 */
export default {
  name: "dv-switch",

  components: {
    "dv-with-toggle": WithToggle,
  },

  props: {
    /**
     * @model
     * Stores switch/switch-group state.
     */
    value: {
      type: [Array, Boolean],
      required: true,
    },

    /**
     * Specify switch value. Use it when switch group is presented.
     */
    option: {
      type: String,
      default: null
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
@import "./Switch.scss";
</style>
