@use 'sass:color';
@import '@/assets/styles/__theme.scss';

$focus-outline: 0 0 0.1rem 0.3rem lighten($color-primary, 10%);

.dv-switch {
  display: inline-flex;

  &__toggle {
    position: relative;
    width: 2.2rem;
    background-color: darken($color-disabled, 0.4);
    border-radius: 1rem;
    box-shadow: 0 0 0 0.2rem darken($color-disabled, 0.4);

    &__dot {
      position: absolute;
      left: 0.1rem;
      top: 50%;
      transform: translate(0, -50%);
      width: 1rem;
      height: 1rem;
      background-color: #fff;
      border-radius: 1rem;
      transition: transform 0.2s linear;
    }
  }

  &__label {
    margin-left: 0.4rem;
  }

  input:not(:disabled) + &__toggle,
  input:not(:disabled) ~ &__label {
    cursor: pointer;
  }

  input:focus + &__toggle {
    box-shadow: 0 0 0 0.2rem darken($color-disabled, 0.4),
      $focus-outline;
  }

  input:checked {
    &:focus + .dv-switch__toggle {
      box-shadow: 0 0 0 0.2rem darken($color-primary, 0.4),
        $focus-outline;
    }

    & + .dv-switch__toggle {
      background-color: $color-primary;
      box-shadow: 0 0 0 0.2rem darken($color-primary, 0.4);
      .dv-switch__toggle__dot {
        transform: translate(100%, -50%);
      }
    }
  }

  input:disabled {
    & + .dv-switch__toggle {
      background-color: $color-disabled;
      box-shadow: 0 0 0 0.2rem darken($color-disabled, 0.4);

      .dv-switch__toggle__dot {
        background-color: transparentize(#fff, 0.3);
      }
    }

    & ~ .dv-switch__label {
      color: $color-disabled;
    }
  }
}
