.dv-icon {
  position: relative;
  display: inline-block;

  .dv-icon__glyph {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--size-small {
    width: 0.8rem;
    height: 0.8rem;

    .dv-icon__glyph {
      font-size: 1.05rem;
    }
  }

  &--size-normal {
    width: 1rem;
    height: 1rem;

    .dv-icon__glyph {
      font-size: 1.25rem;
    }
  }

  &--size-large {
    width: 1.25rem;
    height: 1.25rem;

    .dv-icon__glyph {
      font-size: 1.5rem;
    }
  }

  &--size-xlarge {
    width: 2rem;
    height: 2rem;

    .dv-icon__glyph {
      font-size: 2rem;
    }
  }
}