<template>
  <span :class="iconClass">
    <i :class="glyphClass" />
  </span>
</template>

<script>
/**
 * Components that can draw icons, is uses mdi-font:
 * @see [MDI](https://materialdesignicons.com)
 * @displayName Icon
 */
// TODO: fix mdi url in md
export default {
  name: 'dv-icon',

  props: {
    /**
     * Select md icon by name
     * @example account creates mdi-account icon
     */
    name: {
      type: String,
      required: true,
      default: 'check',
    },

    size: {
      type: String,
      default: 'normal',
      validator: (size) => ['small', 'normal', 'large', 'xlarge'].includes(size),
    },
  },

  computed: {
    iconClass() {
      return [
        'dv-icon',
        `dv-icon--size-${this.size}`,
      ];
    },

    glyphClass() {
      return [
        'dv-icon__glyph',
        `mdi mdi-${this.name}`,
      ];
    },
  },
};
</script>

<style lang="scss">
@import "./Icon.scss";
</style>
