<template>
  <dv-toggle-group
    class="dv-select-button"
    :value="value"
    :disabled="disabled"
    :mandatory="mandatory"
    @input="$emit('input', $event)">
    <template v-slot="{ value: groupValue, onInput }">
      <dv-toggle-button
        v-for="btn in config"
        :key="btn.value"
        :value="groupValue"
        :option="btn.value"
        :disabled="disabled"
        :iconic="!btn.text"
        @input="onInput(btn.value)">
        <template #icon>
          <dv-icon v-if="btn.icon"
                   :name="btn.icon" />
        </template>
        <template v-if="btn.text">
          {{ btn.text }}
        </template>
      </dv-toggle-button>
    </template>
  </dv-toggle-group>
</template>

<script>
import ToggleGroup from "../Shared/ToggleGroup";
/**
 * @displayName Select Button
 */
export default {
  name: "dv-select-button",

  components: {
    "dv-toggle-group": ToggleGroup,
  },

  props: {
    /**
     * @model
     * Stores entity/entity-group state.
     */
    value: {
      type: [Array, Boolean, String],
      required: true,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    mandatory: {
      type: Boolean,
      default: false,
    },

    config: {
      type: Array,
      required: true
    },
  },
};
</script>

<style lang="scss">
@import "./SelectButton.scss";
</style>
