@import '@/assets/styles/__theme.scss';

.dv-select-button {
  display: inline-flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;

  .dv-switch {
    input:not(:checked) + .dv-button {
      background-color: $color-disabled;
    }
    &:not(:first-of-type):not(:last-of-type) .dv-button {
      border-radius: 0;
    }

    &:last-of-type .dv-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:first-of-type .dv-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
