<template>
  <label class="component-demo-field">
    {{ propConfig.name }}
    <input :value="value" @input="$emit('input', $event.target.value)" />
  </label>
</template>

<script>
export default {
  name: 'component-demo-string-input',

  props: {
    value: {
      type: String,
      default: '',
    },

    propConfig: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style>

</style>