<template>
  <dv-checkbox :value="value"
    @input="$emit('input', $event)">
    {{ propConfig.name }}
  </dv-checkbox>
</template>

<script>
export default {
  name: "component-demo-boolean-input",

  props: {
    propConfig: {
      type: Object,
      required: true
    },

    value: {
      type: Boolean
    }
  }
};
</script>

<style>
</style>