<template>
  <label class="component-demo-field">
    {{ propConfig.name }}
    <select :value="value" @change="$emit('input', $event.target.value)">
      <option v-for="(option, idx) in propConfig.values" :key="idx" :value="option">
        {{ option }}
      </option>
    </select>
  </label>
</template>

<script>
export default {
  name: 'component-demo-option-input',

  props: {
    value: {
      type: String,
      default: '',
    },

    propConfig: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style>

</style>