<template>
  <span>123</span>
</template>

<script>
export default {
  name: 'component-demo-slot-input',

  props: {
    slotConfig: {
      type: Object,
      required: true,
    },

    value: {
      type: String,
      default: 'Default slot content',
    }
  }
}
</script>

<style>

</style>