<template>
  <div>
    <h3>Demo playgroud</h3>
    <h4>Props</h4>
    <component v-for="prop in parsedProps"
      :is="getComponentForProp(prop)"
      v-model="config[prop.name]"
      :prop-config="prop"/>
    <component :is="componentName" v-bind="config">
      <template v-for="(content, key) in filledSlots" :slot="key">
        {{ content }}
      </template>
    </component>
  </div>
</template>

<script>
export default {
  name: 'component-demo',

  props: {
    propsStringified: {
      type: String,
      required: true,
    },

    slotsStringified: {
      type: String,
    },

    componentName: {
      type: String,
      required: true,
    },
  },

  data: () => ({
    config: null,
  }),

  created() {
    this.config = Object.fromEntries(this.parsedProps
      .map(prop => [prop.name === 'v-model' ? 'value' : prop.name, this.getDefaultPropValue(prop)]));
  },

  computed: {
    parsedProps() {
      return JSON.parse(this.propsStringified.replace(/%042/g, '"'));
    },

    parsedSlots() {
      return this.slotsStringified && JSON.parse(this.slotsStringified.replace(/%042/g, '"'));
    },

    filledSlots() {
      return this.parsedSlots
        ? Object.fromEntries(this.parsedSlots
          .filter(slot => slot.tags && slot.tags.demoContent && slot.tags.demoContent[0] && slot.tags.demoContent[0].description)
          .map(slot =>  [slot.name, slot.tags.demoContent[0].description]))
        : {}
    }
  },

  methods: {
    getComponentForProp(prop) {
      if (prop.type.name === 'boolean') {
        return 'component-demo-boolean-input';
      } else if (prop.type.name === 'string') {
        if (prop.values) {
          return 'component-demo-option-input';
        }
        return 'component-demo-string-input';
      }
    },

    getDefaultPropValue(prop) {
      if (prop.type.name === 'boolean' || prop.type.name.includes('boolean')) {
        return prop.defaultValue && prop.defaultValue.value === 'false'
          ? false
          : true;
      }

      if (prop.defaultValue && prop.defaultValue.value && prop.defaultValue.value !== 'null') {
        return prop.defaultValue.value;
      } else if (props.values && prop.values.length) {
        return prop.values[0];
      }
      return undefined;
    }
  }
}
</script>

<style>
.component-demo-field {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 30%;
}
</style>