.dv-ripple {
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  transform: scale(0);
}

.dv-ripple--active {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

