@use 'sass:color';
@import '@/assets/styles/__theme.scss';

.dv-checkbox {
  position: relative;
  display: inline-flex;
  padding-left: 1.6rem;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 1.2rem;
    height: 1.2rem;
    margin-left: -1.6rem;
    border-radius: 4px;
    box-shadow: 0 0 0 0.1rem $color-primary;
  }

  &__icon,
  &__label {
    cursor: pointer;
  }

  input:checked + &__icon {
    background-color: $color-primary;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z' /%3E%3C/svg%3E");
  }

  input:focus + &__icon {
    box-shadow: 0 0 0 0.1rem $color-primary,
      0 0 0.1rem 0.3rem lighten($color-primary, 10%);
  }

  input:disabled {
    & + .dv-checkbox__icon {
      cursor: default;
      background-color: $color-disabled;
      box-shadow: 0 0 0 0.1rem $color-disabled;
    }

    & ~ .dv-checkbox__label {
      cursor: default;
      color: $color-disabled;
    }
  }
}
