<template>
  <dv-with-toggle
    class="dv-checkbox"
    :value="value"
    :option="option"
    :disabled="disabled"
    v-on="$listeners">
    <span class="dv-checkbox__icon" />
    <span class="dv-checkbox__label">
      <!-- @slot Checkbox label
              @demoContent Option
      -->
      <slot />
    </span>
  </dv-with-toggle>
</template>

<script>
import WithToggle from "../Shared/WithToggle.vue";
/**
 * @displayName Checkbox
 */
export default {
  name: "dv-checkbox",

  components: {
    "dv-with-toggle": WithToggle,
  },

  props: {
    /**
     * @model
     * Stores checkbox/checkbox-group state.
     */
    value: {
      type: [Array, Boolean],
      required: true,
    },

    /**
     * Specify checkbox value. Use it when checkbox group is presented.
     */
    option: {
      type: String,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
@import "./Checkbox.scss";
</style>
