.dv-button-group {
  display: inline-flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &--indent-0 {
    flex-wrap: nowrap;

    .dv-button {
      &:not(:first-of-type):not(:last-of-type) {
        border-radius: 0;
      }

      &:last-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &--indent-1 {
    .dv-button:not(:first-of-type):not(:last-of-type) {
      margin: 0.5rem 1rem;
    }
  }

  &--indent-2 {
    .dv-button:not(:first-of-type):not(:last-of-type) {
      margin: 0.5rem 2rem;
    }
  }

  &--indent-3 {
    .dv-button:not(:first-of-type):not(:last-of-type) {
      margin: 0.5rem 3rem;
    }
  }
}