<template>
  <div class="dv-spin"
       :class="spinnerClass">
    <svg
      class="dv-spin__svg"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg">
      <circle class="dv-spin__stroke"
              cx="50"
              cy="50"
              r="45" />
    </svg>
    <span>
      <slot />
    </span>
  </div>
</template>

<script>
/**
 * Component for showing loading state
 * @displayName Spin
 */
export default {
  name: "dv-spin",

  props: {
    color: {
      type: String,
      default: "primary",
      validator: (color) =>
        [
          "primary",
          "secondary",
          "success",
          "info",
          "warning",
          "danger",
        ].includes(color),
    },

    size: {
      type: String,
      default: "sm",
      validator: (size) => ["sm", "lg", "xl"].includes(size),
    },
  },

  computed: {
    spinnerClass() {
      return [`dv-spin--${this.color}`, `dv-spin--${this.size}`];
    },
  },
};
</script>

<style lang="scss">
@import "./Spin.scss";
</style>
