@import '@/assets/styles/__theme.scss';

@mixin spin-color($color) {
  .dv-spin__svg .dv-spin__stroke {
    stroke: $color;
  }
}

.dv-spin {
  @include spin-color($color-primary);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;

  .dv-spin__svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: svg-rotate 2s linear infinite;
  }

  .dv-spin__stroke {
    stroke-dasharray: 283;
    stroke-linecap: round;
    stroke-dashoffset: 75;
    transform-origin: 50% 50%;
    max-width: 100%;
    fill: transparent;
    stroke-width: 10;
    animation: circle-spin 1.4s ease-in-out infinite both;
  }

  &--lg {
    width: 1.8rem;
    height: 1.8rem;
  }

  &--xl {
    width: 2.5rem;
    height: 2.5rem;
  }

  &--secondary {
    @include spin-color($color-secondary);
  }

  &--success {
    @include spin-color($color-success);
  }

  &--info {
    @include spin-color($color-info);
  }

  &--warning {
    @include spin-color($color-warning);
  }

  &--danger {
    @include spin-color($color-danger);
  }
}

@keyframes circle-spin {
  0%,
  25% {
    transform: rotate(0);
    stroke-dashoffset: 280;
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

@keyframes svg-rotate {
  50% {
    transform: rotateZ(360deg);
  }

  100% {
    transform: rotateZ(720deg);
  }
}
