<template>
  <div id="app">
    <div class="dv-row">
      <div ref="anchor"
           @click="visible=!visible">
        Якорь
      </div>
      <dv-positionable :anchor="$refs.anchor"
                       :visible="visible">
        Привет
      </dv-positionable>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",

  data: () => ({
    visible: false,
    value: ["1"],
    options: [
      {
        value: "1",
        text: "1",
      },
      {
        value: "2",
        text: "2",
      },
      {
        value: "3",
        text: "3",
      },
      {
        value: "4",
        text: "4",
      },
      {
        value: "5",
        text: "5",
      },
      {
        value: "6",
        text: "6",
      },
      {
        value: "7",
        text: "7",
      },
      {
        value: "8",
        text: "8",
      },
    ],
  })
};
</script>

<style lang="scss">
.dv-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
