*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

.dv-hidden {
  display: none;
}

.dv-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;

  &input, &select {
    transform: scale(0);
  }
}
